body {
    background-color: gray;
}
.sub-header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: rgba(105, 154, 191, 0.8);
}
.logo {
    width: 10rem;
}
.center {
    grid-column: 2/5;
}
.right {
    grid-column: 5 / -1;
    display: flex;
    /* fex-direction + wrap */
    flex-flow: column wrap;
    align-items: center;
}

@media screen and (width < 900px) {
    .right {
        align-items: flex-start;
        background-color: aqua;
    }
    .right a, .right button {
        width: 3rem;
    }
}